<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <elmah>
    <security allowRemoteAccess="1" />
  </elmah>
    <system.web>
      <sessionState timeout="180"></sessionState>
      <compilation targetFramework="4.0" />
      <authentication mode="Windows" />
      <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
        <controls>
          <add namespace="Belconfect.B2B.Web.Webcontrols" assembly="Belconfect.B2B.Web.Webcontrols" tagPrefix="lang" />
        </controls>
      </pages>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="logging/elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
        <add verb="*" path="/img/*" type="Belconfect.B2B.Ecommerce.Handler.ImageHandler, Belconfect.B2B.Ecommerce" />
        <add verb="*" path="autocompletemodel.axd" type="Belconfect.B2B.UI.AutocompleteModel, Belconfect.B2B.UI" validate="false" />
      </httpHandlers>
      <httpModules>
        <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
        <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
        <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      </httpModules>
      <customErrors mode="Off"></customErrors>
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Elmah" path="logging/elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      <add name="ImageHandler" preCondition="integratedMode" verb="*" path="/img/*" type="Belconfect.B2B.Ecommerce.Handler.ImageHandler, Belconfect.B2B.Ecommerce" />
      <add name="autocompleteModel" verb="*" path="autocompletemodel.axd" type="Belconfect.B2B.UI.AutocompleteModel, Belconfect.B2B.UI" />
    </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
		    <outboundRules>
             <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
               <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
               <conditions>
                 <add input="{HTTPS}" pattern="on" ignoreCase="true" />
               </conditions>
               <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
             </rule>
            </outboundRules>
        </rewrite>
  </system.webServer>
  <appSettings>
    <add key="DefaultLanguage" value="N" />
    <add key="B2BCommunicationType" value="Belconfect.B2B.Ecommerce.Data.MsSQL.MsSQLEngine" />
	  <add key="ProductGroupSequence" value="3|4|5|12|6|10|9|7|2|14|15" />
	  <add key="ProductGroupSequence2" value="8" />
	  <add key="BrandSequence" value="90|89|88|85|55|91|108|96|97|49|86|87|98|101|122" />
	  <add key="BrandSequence2" value="33|3|41|94|35|32|34" />
	  <add key="MailFrom" value="b2b@bel-confect.be" />
          <add key="MailTo" value="b2b@bel-confect.be" />
          <add key="SmtpServer" value="mailrelay.bel-confect.be" />
	  <add key="HostName" value="http://b2b.bel-confect.be" />
	  <add key="DForceHostname" value="b2b.d-force.eu" />
    <add key="OrderFilePath" value="\\FILE12R2-01\Workspace\Company_data\FIRMWARE\Orders" />
  </appSettings>
  <connectionStrings>
    <add name="B2BConnectionString" connectionString="Data Source=SQL12R2-01;Initial Catalog=Belconfect;User ID=Firmware;Password=bvba;Application Name=B2B;" />
  </connectionStrings>
</configuration>
