<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ImagesSourcePath" value="\\FILE12R2-01\Workspace\Company_data\FIRMWARE\JPG" />
    <add key="ImagesDestinationPath" value="C:\Firmware\B2B_Files\Images"/>
    <add key="ImageMaxWidth" value="130" />
    <add key="ImageMaxHeight" value="196" />
    <add key="FilesSourcePath" value="\\FILE12R2-01\Workspace\Company_data\FIRMWARE\TechnischeFichesPDF" />
    <add key="FilesSourcePathConform" value="\\FILE12R2-01\Workspace\Company_data\FIRMWARE\DeclarationsOfConformityPDF" />
    <add key="FilesDestinationPath" value="C:\Firmware\B2B_Files\Files" />
    <add key="FilesDestinationPathConform" value="C:\Firmware\B2B_Files\FilesConform" />
    <add key="Debug" value="0" />
  </appSettings>
</configuration>