<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Bel-confect: B2B</title>
</head>
<body bgcolor="#ffffff" topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" marginwidth="0" marginheight="0" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;width:100% !important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" >
	<div align="center">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td  align="center" valign="top" style="text-align:center;" >
					<div align="center">
						<table width="660" border="0" cellspacing="0" cellpadding="0">
							<tr><td><img src="http://www.bel-confect.be//sites/all/themes/belconfect/logo.jpg" border="0" /></td></tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td  align="center" valign="top" style="text-align:center;background-color:#004795;" >
					<div align="center">
						<table width="660" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="500" align="left" valign="top" style="padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:20px;" >
									<h1 style="color:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:22px;font-weight:bold;" >Order {ORDERID}</h1>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
 			<tr>
				<td  align="center" valign="top" style="text-align:center;background-color:#ffffff;" >
					<div align="center">
						<table width="660" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="500" align="left" valign="top" style="padding-top:0px;padding-right:10px;padding-bottom:10px;padding-left:20px;" >
									<h2 style="color:#727272;font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:normal;line-height:18px;" >
										<p>A new B2B order has been placed on b2b.bel-confect.be at {TIME} with order id <strong>{ORDERID}</strong></p>
									</h2>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td align="center" valign="top" style="background-color:#004795;border-top: red 3px solid;padding: 5px 0;" >
					<div align="center">
						<table width="660" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" >
							<tr>
								<td align="left" valign="top" style="padding-top:0px;padding-right:10px;padding-bottom:0px;padding-left:20px;color:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;" >
									Bel-Confect NV, Avenue du Bois Jacquet 9, B-7711 Dottignies | Tel. 00 32 (0)56 64 43 67 | <a href="mailto:info@bel-confect.be" style="color: #ffffff">info@bel-confect.be</a>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
